.body-container {
    background-color: #E8E8E8;
}

.head-blue {
    background-color: #0f4871;
    color: white
}

.head-gray {
    background-color: #C2C2C2;
    color: #444;
    border: #C2C2C2 1px solid;
}

.btn-link:hover {
    background-color: #E8E8E8;
    color: #0f4871;
    border-bottom: #E8E8E8 5px solid;
}

.turned-off {
    pointer-events: none;
}

input {
    background-color: #E8E8E8;
}