
.diamondbacks {
    background-color: #A71930;
    color: #E3D4AD;
    border-bottom: #000000 3px solid;
}

.braves {
    background-color: #13274F;
    color: white;
    border-bottom: #CE1141 3px solid;
}

.orioles {
    background-color: #DF4601;
    color: white;
    border-bottom: #000000 3px solid;
}

.red-sox {
    background-color: #BD3039;
    color: white;
    border-bottom: #0C2340 3px solid;
}

.cubs {
    background-color: #0E3386;
    color: white;
    border-bottom: #CC3433 3px solid;
}

.white-sox {
    background-color: #27251F;
    color: white;
    border-bottom: #C4CED4 3px solid;
}

.reds {
    background-color: #C6011F;
    color: white;
    border-bottom: #000000 3px solid;
}

.indians {
    background-color: #0C2340;
    color: white;
    border-bottom: #E31937 3px solid;
}

.rockies {
    background-color: #33006F;
    color: white;
    border-bottom: #C4CED4 3px solid;
}

.tigers {
    background-color: #0C2340;
    color: white;
    border-bottom: #FA4616 3px solid;
}

.astros {
    background-color: #002D62;
    color: white;
    border-bottom: #EB6E1F 3px solid;
}

.royals {
    background-color: #004687;
    color: white;
    border-bottom: #BD9B60 3px solid;
}

.angels {
    background-color: #BA0021;
    color: white;
    border-bottom: #003263 3px solid;
}

.dodgers {
    background-color: #005A9C;
    color: white;
    border-bottom: #A5ACAF 3px solid;
}

.marlins {
    background-color: #000000;
    color: white;
    border-bottom: #00A3E0 3px solid;
}

.brewers {
    background-color: #0A2351;
    color: white;
    border-bottom: #B6922E 3px solid;
}

.twins {
    background-color: #002B5C;
    color: white;
    border-bottom: #D31145 3px solid;
}

.mets {
    background-color: #002D72;
    color: white;
    border-bottom: #FF5910 3px solid;
}

.yankees {
    background-color: #0C2340;
    color: white;
    border-bottom: white 3px solid;
}

.athletics {
    background-color: #003831;
    color: white;
    border-bottom: #EFB21E 3px solid;
}

.phillies {
    background-color: #E81828;
    color: white;
    border-bottom: #002D72 3px solid;
}

.pirates {
    background-color: #FDB827;
    color: #27251F;
    border-bottom: #27251F 3px solid;
}

.cardinals {
    background-color: #C41E3A;
    color: white;
    border-bottom: #0C2340 3px solid;
}

.padres {
    background-color: #002D62;
    color: white;
    border-bottom: #A2AAAD 3px solid;
}

.giants {
    background-color: #FD5A1E;
    color: white;
    border-bottom: #27251F 3px solid;
}

.mariners {
    background-color: #0C2C56;
    color: white;
    border-bottom: #005C5C 3px solid;
}

.rays {
    background-color: #092C5C;
    color: #F5D130;
    border-bottom: #8FBCE6 3px solid;
}

.rangers {
    background-color: #003278;
    color: white;
    border-bottom: #C0111F 3px solid;
}

.blue-jays {
    background-color: #134A8E;
    color: white;
    border-bottom: #E8291C 3px solid;
}

.nationals {
    background-color: #AB0003;
    color: white;
    border-bottom: #14225A 3px solid;
}


.mlb {
    background-color: #002D72;
    color: white;
    border-bottom: #D50032 3px solid;
}

