<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/team_colors.css">
    <link rel="stylesheet" href="/static/layout.css">

    <title>Index Page</title>
</head>


<body class="body-container">
    <div class="container rounded head-blue mb-3">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <p class="display-3">Image</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <p class="display-3">Who's in First?</p>
                    </div>
                    <div class="col-md-3 text-center">
                        <p class="display-3">Image</p>
                    </div>
                    <div class="col-md-12 text-center">
                        <p class="display-4">A Major League Baseball Awards Predictor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-3">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12 rounded head-gray">
                    <p>This website displays the likelihood that each player with win either the Most Valuable Player Award or the Cy Young Award, as of {{ lastUpdate }}.  The lists below show the most likely players for each award, based on a model using data dating back to 1970.  Click on a player or team to see more!</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 rounded head-gray text-center">
                    <p>Data Current as of</p>
                    <p class="display-3">{{ lastUpdate }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 rounded head-gray text-center">
                    <p>Days Remaining</p>
                    <p class="display-3">{{ daysLeft }}</p>
                </div>
            </div>
            <div class="col-md-12">
            </div>
        </div>
    </div>
    <div class="container mb-3">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12 head-blue text-center rounded">
                    <p class="h4">National League</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 head-blue text-center rounded">
                    <p class="h4">American League</p>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="col-md-12 head-gray text-center rounded">
                    <t>Most Valuable Player Award</t>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 head-gray text-center rounded">
                    <t>Most Valuable Player Award</t>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12 head-gray pr-0 mb-1 rounded">
                    <div class="row">
                        <div class="col-md-4 font-italic text-center">
                            <t>Player</t>
                        </div>
                        <div class="col-md-4 font-italic text-center">
                            <t>Team</t>
                        </div>
                        <div class="col-md-2 font-italic text-center">
                            <t>Position</t>
                        </div>
                        <div class="col-md-2 font-italic">
                            <t>Rank</t>
                        </div>
                    </div>
                </div>

                {% for player in nlMvp %}

                <div class="col-md-12 mb-2">
                    <div class="row">
                        <div class="col-md-4" playerId="{{ player.Player.id }}">
                            <a class="btn btn-block btn-link {{ player.Team.teamAbbrev }}" href="{{ url_for('player', id=player.Player.id) }}">
                                <t>{{ player.Player.playerName }}</t>
                            </a>
                        </div>
                        <div class="col-md-4 p-0" playerId="{{ player.Player.id }}">
                            <a class="btn btn-block btn-link {{ player.Team.teamAbbrev }}" href="{{ url_for('team', id=player.Team.id) }}">
                                <t>{{ player.Team.teamName }}</t>
                            </a>
                        </div>
                        <div class="col-md-2 pr-0" playerId="{{ player.Player.id }}">
                            <a class="btn btn-block btn-link turned-off {{ player.Team.teamAbbrev }}" href="{{ url_for('player', id=player.Player.id) }}">
                                <t>{{ player.Player.position }}</t>
                            </a>
                        </div>
                        <div class="col-md-2 text-right" playerId="{{ player.Player.id }}">
                            <a class="btn btn-block btn-link turned-off {{ player.Team.teamAbbrev }}" href="{{ url_for('player', id=player.Player.id) }}">
                                <t>{{ player.ProjectedStats.mvpRank }}</t>
                            </a>
                        </div>
                    </div>
                </div>
                
                {% endfor %}

            </div>
            <div class="col-md-6">
                <div class="col-md-12 head-gray pr-0 mb-1 rounded">
                    <div class="row">
                        <div class="col-md-4 font-italic text-center">
                            <t>Player</t>
                        </div>
                        <div class="col-md-4 font-italic text-center">
                            <t>Team</t>
                        </div>
                        <div class="col-md-2 font-italic text-center">
                            <t>Position</t>
                        </div>
                        <div class="col-md-2 font-italic text-center">
                            <t>Rank</t>
                        </div>
                    </div>
                </div>

                {% for player in alMvp %}

                <div class="col-md-12 mb-2">
                    <div class="row">
                        <div class="col-md-4" playerId="{{ player.Player.id }}">
                            <a class="btn btn-block btn-link {{ player.Team.teamAbbrev }}" href="{{ url_for('player', id=player.Player.id) }}">
                                <t>{{ player.Player.playerName }}</t>
                            </a>
                        </div>
                        <div class="col-md-4 p-0" playerId="{{ player.Player.id }}">
                            <a class="btn btn-block btn-link {{ player.Team.teamAbbrev }}" href="{{ url_for('team', id=player.Team.id) }}">
                                <t>{{ player.Team.teamName }}</t>
                            </a>
                        </div>
                        <div class="col-md-2 pr-0" playerId="{{ player.Player.id }}">
                            <a class="btn btn-block btn-link turned-off {{ player.Team.teamAbbrev }}" href="{{ url_for('player', id=player.Player.id) }}">
                                <t>{{ player.Player.position }}</t>
                            </a>
                        </div>
                        <div class="col-md-2 text-right" playerId="{{ player.Player.id }}">
                            <a class="btn btn-block btn-link turned-off {{ player.Team.teamAbbrev }}" href="{{ url_for('player', id=player.Player.id) }}">
                                <t>{{ player.ProjectedStats.mvpRank }}</t>
                            </a>
                        </div>
                    </div>
                </div>
                
                {% endfor %}

            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="col-md-6">
                <div class="col-md-12 head-gray text-center rounded">
                    <t>Cy Young Award</t>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 head-gray text-center rounded">
                    <t>Cy Young Award</t>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12 head-gray pr-0 mb-1 rounded">
                    <div class="row">
                        <div class="col-md-4 font-italic text-center">
                            <t>Player</t>
                        </div>
                        <div class="col-md-4 font-italic text-center">
                            <t>Team</t>
                        </div>
                        <div class="col-md-2 font-italic text-center">
                            <t>Position</t>
                        </div>
                        <div class="col-md-2 font-italic text-center">
                            <t>Rank</t>
                        </div>
                    </div>
                </div>

                {% for player in nlCyYoung %}

                <div class="col-md-12 mb-2">
                    <div class="row">
                        <div class="col-md-4" playerId="{{ player.Player.id }}">
                            <a class="btn btn-block btn-link {{ player.Team.teamAbbrev }}" href="{{ url_for('player', id=player.Player.id) }}">
                                <t>{{ player.Player.playerName }}</t>
                            </a>
                        </div>
                        <div class="col-md-4 p-0" playerId="{{ player.Player.id }}">
                            <a class="btn btn-block btn-link {{ player.Team.teamAbbrev }}" href="{{ url_for('team', id=player.Team.id) }}">
                                <t>{{ player.Team.teamName }}</t>
                            </a>
                        </div>
                        <div class="col-md-2 pr-0" playerId="{{ player.Player.id }}">
                            <a class="btn btn-block btn-link turned-off {{ player.Team.teamAbbrev }}" href="{{ url_for('player', id=player.Player.id) }}">
                                <t>{{ player.Player.position }}</t>
                            </a>
                        </div>
                        <div class="col-md-2 text-right" playerId="{{ player.Player.id }}">
                            <a class="btn btn-block btn-link turned-off {{ player.Team.teamAbbrev }}" href="{{ url_for('player', id=player.Player.id) }}">
                                <t>{{ player.ProjectedStats.cyYoungRank }}</t>
                            </a>
                        </div>
                    </div>
                </div>
                
                {% endfor %}

            </div>
            <div class="col-md-6">
                <div class="col-md-12 head-gray pr-0 mb-1 rounded">
                    <div class="row">
                        <div class="col-md-4 font-italic text-center">
                            <t>Player</t>
                        </div>
                        <div class="col-md-4 font-italic text-center">
                            <t>Team</t>
                        </div>
                        <div class="col-md-2 font-italic text-center">
                            <t>Position</t>
                        </div>
                        <div class="col-md-2 font-italic text-center">
                            <t>Rank</t>
                        </div>
                    </div>
                </div>

                {% for player in alCyYoung %}

                <div class="col-md-12 mb-2">
                    <div class="row">
                        <div class="col-md-4" playerId="{{ player.Player.id }}">
                            <a class="btn btn-block btn-link {{ player.Team.teamAbbrev }}" href="{{ url_for('player', id=player.Player.id) }}">
                                <t>{{ player.Player.playerName }}</t>
                            </a>
                        </div>
                        <div class="col-md-4 p-0" playerId="{{ player.Player.id }}">
                            <a class="btn btn-block btn-link {{ player.Team.teamAbbrev }}" href="{{ url_for('team', id=player.Team.id) }}">
                                <t>{{ player.Team.teamName }}</t>
                            </a>
                        </div>
                        <div class="col-md-2 pr-0" playerId="{{ player.Player.id }}">
                            <a class="btn btn-block btn-link turned-off {{ player.Team.teamAbbrev }}" href="{{ url_for('player', id=player.Player.id) }}">
                                <t>{{ player.Player.position }}</t>
                            </a>
                        </div>
                        <div class="col-md-2 text-right" playerId="{{ player.Player.id }}">
                            <a class="btn btn-block btn-link turned-off {{ player.Team.teamAbbrev }}" href="{{ url_for('player', id=player.Player.id) }}">
                                <t>{{ player.ProjectedStats.cyYoungRank }}</t>
                            </a>
                        </div>
                    </div>
                </div>
                
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="col-md-12 head-blue rounded">
            <p class="h4 text-center">Search for Players</p>
        </div>
        <div class="col-md-12">
            <label for="playerSearch">Choose a Player:</label>
            <input list="playerList" id="playerSearch">
            <button onclick="playerFind()">Search</button>
            <datalist id="playerList">

                {% for player in players %}
                    <option value="{{ player.playerName }}" playerId="{{ player.id }}"></option>
                {% endfor %}   

            </datalist>
        </div>
    </div> -->
    <div class="container mb-3">
        <div class="col-md-12 head-blue rounded">
            <p class="h4 text-center">Select a Team</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12 mb-2 rounded head-gray text-center">
                    <t>National League West</t>
                </div>
                {% for team in nlwTeams %}

                    <div class="col-md-12">
                        <div class="col-md-12 mb-2">
                            <a class="btn btn-link btn-block {{ team.teamAbbrev }}" href="{{ url_for('team', id=team.id) }}">
                                <t>{{ team.teamName }}</t>
                            </a>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <div class="col-md-4">
                <div class="col-md-12 mb-2 rounded head-gray text-center">
                    <t>National League Central</t>
                </div>
                {% for team in nlcTeams %}

                    <div class="col-md-12">
                        <div class="col-md-12 mb-2">
                            <a class="btn btn-link btn-block {{ team.teamAbbrev }}" href="{{ url_for('team', id=team.id) }}">
                                <t>{{ team.teamName }}</t>
                            </a>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <div class="col-md-4">
                <div class="col-md-12 mb-2 rounded head-gray text-center">
                    <t>National League East</t>
                </div>
                {% for team in nleTeams %}

                    <div class="col-md-12">
                        <div class="col-md-12 mb-2">
                            <a class="btn btn-link btn-block {{ team.teamAbbrev }}" href="{{ url_for('team', id=team.id) }}">
                                <t>{{ team.teamName }}</t>
                            </a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12 mb-2 rounded head-gray text-center">
                    <t>American League West</t>
                </div>
                {% for team in alwTeams %}

                    <div class="col-md-12">
                        <div class="col-md-12 mb-2">
                            <a class="btn btn-link btn-block {{ team.teamAbbrev }}" href="{{ url_for('team', id=team.id) }}">
                                <t>{{ team.teamName }}</t>
                            </a>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <div class="col-md-4">
                <div class="col-md-12 mb-2 rounded head-gray text-center">
                    <t>American League Central</t>
                </div>
                {% for team in alcTeams %}

                    <div class="col-md-12">
                        <div class="col-md-12 mb-2">
                            <a class="btn btn-link btn-block {{ team.teamAbbrev }}" href="{{ url_for('team', id=team.id) }}">
                                <t>{{ team.teamName }}</t>
                            </a>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <div class="col-md-4">
                <div class="col-md-12 mb-2 rounded head-gray text-center">
                    <t>American League East</t>
                </div>
                {% for team in aleTeams %}

                    <div class="col-md-12">
                        <div class="col-md-12 mb-2">
                            <a class="btn btn-link btn-block {{ team.teamAbbrev }}" href="{{ url_for('team', id=team.id) }}">
                                <t>{{ team.teamName }}</t>
                            </a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
    <!-- <script>
        function playerFind() {
            document.getElementById('playerSearch').innerHTML
            window.location.href = 'http://google.com'
        }
    </script> -->
</body>

</html>