<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="/static/team_colors.css">
        <link rel="stylesheet" href="/static/layout.css">   

        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script type="text/javascript" src="/static/radar.js"></script>
        <script type="text/javascript" src="/static/script.js"></script>

        <title>Player Page</title>
    </head>
    <body class="body-container">
        <div class="container mb-3">
            <div class="row pt-1 pb-1 rounded-top {{ player.Team.teamAbbrev }}">
                <div class="col-md-7">{{ player.Player.playerName }}</div>
                <div class="col-md-5">Hometown: {{ hometown }}</div>
            </div>
            <div class="row pt-1 pb-1 {{ player.Team.teamAbbrev }}">
                <div class="col-md-7">{{ player.Team.teamName }}</div>
                <div class="col-md-5">MLB Debut: {{ player.Player.debutDate }}</div>
            </div>
            <div class="row pt-1 pb-1 rounded-bottom {{ player.Team.teamAbbrev }}">
                <div class="col-md-7">Position: {{ player.Player.position }}</div>
                <div class="col-md-5">Height: {{ player.Player.height }}   Weight: {{ player.Player.weight }}</div>
            </div>
        </div>
        <div class="container">
            <div class="img-fluid text-center" alt="Responsive image">
                <div class="img-fluid" id="chart"></div>
            </div>
        </div>

        <script>
            createRadar('{{ player.Player.playerName }}', '{{ legend|tojson }}',
                '{{ colors|tojson }}', '{{ stats|tojson }}',
                '{{ limits|tojson }}');
        </script>
    </body>
</html>