<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="/static/team_colors.css">
        <link rel="stylesheet" href="/static/layout.css">   

        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script type="text/javascript" src="/static/radar.js"></script>
        <script type="text/javascript" src="/static/script.js"></script>

        <title>Player Page</title>
    </head>
    <body class="body-container">
        <div class="container mb-3">
            <div class="row pt-1 pb-1 rounded-top {{ player.Team.teamAbbrev }}">
                <div class="col-md-7">{{ player.Player.playerName }}</div>
                <div class="col-md-5">Hometown: {{ hometown }}</div>
            </div>
            <div class="row pt-1 pb-1 {{ player.Team.teamAbbrev }}">
                <div class="col-md-7">{{ player.Team.teamName }}</div>
                <div class="col-md-5">MLB Debut: {{ player.Player.debutDate }}</div>
            </div>
            <div class="row pt-1 pb-1 rounded-bottom {{ player.Team.teamAbbrev }}">
                <div class="col-md-7">Position: {{ player.Player.position }}</div>
                <div class="col-md-5">Height: {{ player.Player.height }}   Weight: {{ player.Player.weight }}</div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-12 head-gray mb-3">
                        <p class="mt-2" id="playerMessage">If the season ended today, <b>{{ player.Player.playerName }}</b> would be ranked <b>{{ message }}</b> amongst all players when it comes to winning the <b>{{ award }}</b> award.   This projection is based on his end-of-season predicted baseball statistics shown in the boxes below.   Try updating any of these statistics and click SUBMIT to see how his ranking changes.  Click on RESET to start over.  You can also hover over each data point on the radar chart to see both his current and season ending projected statistics.</p>
                    </div>
                    <div class="col-md-12 head-gray mb-3">
                        {% from '_formhelper.html' import render_field %}
                        <form class="mb-3" >
                            <dl>
                            {% for field in form %}
                                <p>
                                    {{ render_field(field) }}
                                </p>
                            {% endfor %}
                            </dl>
                        </form>
                        <button class="btn btn-link {{ player.Team.teamAbbrev }} mb-3" onclick="updateRadar()">Submit</button>
                        <button class="btn btn-link {{ player.Team.teamAbbrev }} mb-3" onclick="resetRadar()">Reset</button>
                    </div>
                </div>
                <div class="col-md-8 head-gray pt-3 mb-3">
                    <div class="img-fluid" alt="Responsive image">
                        <div class="img-fluid" id="chart"></div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            createRadar('{{ player.Player.playerName }}', '{{ legend|tojson }}',
                '{{ colors|tojson }}', '{{ stats|tojson }}',
                '{{ limits|tojson }}'
            );

            function updateRadar() {

                if ('{{ player.Player.position }}' === 'P') {
                    var inningsPitched = document.getElementById('inningsPitched').value;
                    var wins = document.getElementById('wins').value;
                    var saves = document.getElementById('saves').value;
                    var strikeouts = document.getElementById('strikeouts').value;
                    var earnedRuns = document.getElementById('earnedRuns').value;
                    var hits = document.getElementById('hits').value;
                    var walks = document.getElementById('walks').value;

                    var current = [
                        {'axis': 'Innings Pitched', 'value': '{{ player.CurrentStats.inningsPitched }}'},
                        {'axis': 'Wins', 'value': '{{ player.CurrentStats.wins }}'},
                        {'axis': 'Saves', 'value': '{{ player.CurrentStats.saves }}'},
                        {'axis': 'Strikeouts', 'value': '{{ player.CurrentStats.strikeoutsPitching }}'},
                        {'axis': 'Earned Runs', 'value': '{{ player.CurrentStats.earnedRuns }}'},
                        {'axis': 'Hits', 'value': '{{ player.CurrentStats.hitsAllowed }}'},
                        {'axis': 'Walks', 'value': '{{ player.CurrentStats.walksAllowed }}'}
                    ]

                    var projected = [
                        {'axis': 'Innings Pitched', 'value': inningsPitched},
                        {'axis': 'Wins', 'value': wins},
                        {'axis': 'Saves', 'value': saves},
                        {'axis': 'Strikeouts', 'value': strikeouts},
                        {'axis': 'Earned Runs', 'value': earnedRuns},
                        {'axis': 'Hits', 'value': hits},
                        {'axis': 'Walks', 'value': walks}
                    ]

                    var body = JSON.stringify({
                        'h': hits,
                        'bb': walks,
                        'so': strikeouts,
                        'er': earnedRuns,
                        'sv': saves,
                        'w': wins,
                        'ip': inningsPitched
                    });

                } else {
                    var atBats = document.getElementById('atBats').value;
                    var hits = document.getElementById('hits').value;
                    var homeRuns = document.getElementById('homeRuns').value;
                    var rbis = document.getElementById('rbis').value;
                    var strikeouts = document.getElementById('strikeouts').value;
                    var walks = document.getElementById('walks').value;
                    
                    var current = [
                        {'axis': 'At Bats', 'value': '{{ player.CurrentStats.atBats }}'},
                        {'axis': 'Hits', 'value': '{{ player.CurrentStats.hits }}'},
                        {'axis': 'Home Runs', 'value': '{{ player.CurrentStats.homeRuns }}'},
                        {'axis': 'RBIs', 'value': '{{ player.CurrentStats.runsBattedIn }}'},
                        {'axis': 'Strikeouts', 'value': '{{ player.CurrentStats.strikeoutsBatting }}'},
                        {'axis': 'Walks', 'value': '{{ player.CurrentStats.walks }}'}
                    ]

                    var projected = [
                        {'axis': 'At Bats', 'value': atBats},
                        {'axis': 'Hits', 'value': hits},
                        {'axis': 'Home Runs', 'value': homeRuns},
                        {'axis': 'RBIs', 'value': rbis},
                        {'axis': 'Strikeouts', 'value': strikeouts},
                        {'axis': 'Walks', 'value': walks}
                    ]

                    var body = JSON.stringify({
                        'h_x': '{{ player.ProjectedStats.hitsAllowed }}',
                        'bb_x': '{{ player.ProjectedStats.walksAllowed }}',
                        'so_x': '{{ player.ProjectedStats.strikeoutsPitching }}',
                        'er': '{{ player.ProjectedStats.earnedRuns }}',
                        'sv': '{{ player.ProjectedStats.saves }}',
                        'w': '{{ player.ProjectedStats.wins }}',
                        'ip': '{{ player.ProjectedStats.inningsPitched }}',
                        'h_y': hits,
                        'hr_y': homeRuns,
                        'rbi': rbis,
                        'bb_y': walks,
                        'so_y': strikeouts,
                        'ab_y': atBats
                    });
                }

                createRadar('{{ player.Player.playerName }}', '{{ legend|tojson }}',
                    '{{ colors|tojson }}', JSON.stringify([projected, current]),
                    '{{ limits|tojson }}'
                );

                
                var newRank = fetch("{{ url_for('predict', id=player.Player.id) }}", {
                    method: 'POST',
                    body: body
                }).then((response) => {
                    return response.json()
                }).then((data) => {
                    console.log(data.message);
                    document.getElementById('playerMessage').innerHTML = 'If the season ended today, <b>{{ player.Player.playerName }}</b> would be ranked <b>{{ message }}</b> amongst all players when it comes to winning the <b>{{ award }}</b> award.   This projection is based on his end-of-season predicted baseball statistics shown in the boxes below.   Try updating any of these statistics and click SUBMIT to see how his ranking changes.  Click on RESET to start over.  You can also hover over each data point on the radar chart to see both his current and season ending projected statistics.'
                }).catch((err) => {
                    console.log(err);
                });
            };

            function resetRadar() {

                if ('{{ player.Player.position }}' === 'P') {
                    document.getElementById('inningsPitched').value = '{{ player.ProjectedStats.inningsPitched }}';
                    document.getElementById('wins').value = '{{ player.ProjectedStats.wins }}';
                    document.getElementById('saves').value = '{{ player.ProjectedStats.saves }}';
                    document.getElementById('strikeouts').value = '{{ player.ProjectedStats.strikeoutsPitching }}';
                    document.getElementById('earnedRuns').value = '{{ player.ProjectedStats.earnedRuns }}';
                    document.getElementById('hits').value = '{{ player.ProjectedStats.hitsAllowed }}';
                    document.getElementById('walks').value = '{{ player.ProjectedStats.walksAllowed }}';

                } else {
                    document.getElementById('atBats').value = '{{ player.ProjectedStats.atBats }}';
                    document.getElementById('hits').value = '{{ player.ProjectedStats.hits }}';
                    document.getElementById('homeRuns').value = '{{ player.ProjectedStats.homeRuns }}';
                    document.getElementById('rbis').value = '{{ player.ProjectedStats.runsBattedIn }}';
                    document.getElementById('strikeouts').value = '{{ player.ProjectedStats.strikeoutsBatting }}';
                    document.getElementById('walks').value = '{{ player.ProjectedStats.walks }}';
                }

                document.getElementById('playerMessage').innerHTML = 'If the season ended today, <b>{{ player.Player.playerName }}</b> would be ranked <b>{{ message }}</b> amongst all players when it comes to winning the <b>{{ award }}</b> award.   This projection is based on his end-of-season predicted baseball statistics shown in the boxes below.   Try updating any of these statistics and click SUBMIT to see how his ranking changes.  Click on RESET to start over.  You can also hover over each data point on the radar chart to see both his current and season ending projected statistics.'

                createRadar('{{ player.Player.playerName }}', '{{ legend|tojson }}',
                    '{{ colors|tojson }}', '{{ stats|tojson }}',
                    '{{ limits|tojson }}'
                );
            }
        </script>
    </body>
</html>